* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: rgb(100, 100, 100);
    text-decoration: none;
    text-transform: uppercase;
}

header {
    background-image: url(header-tlo.jpg);
    height: 600px;


}

header {}
