* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

body {
    font-family: oswald, arial, sans-serif;
    font-size: 9px;
}

nav {
    text-align: right;
    max-width: 1280px;
}

nav a {
    display: inline-block;

    padding: 5px 12px;
    margin: 10px 10px;

    font-size: 15px;
    color: rgb(100, 100, 100);
    text-decoration: none;
    text-transform: uppercase;
}

nav a.btn4 {
    padding: 5px 12px;
    margin-left: 40px;
    margin-right: 60px;
    border: 2px solid rgb(100, 100, 100);
}

nav a:hover {
    border-bottom: 2px solid rgb(100, 100, 100);
    transition: .3s;
}

nav a.btn4:hover {
    background-color: rgb(100, 100, 100);
    color: white;
    transition: .3s;
}



img {
    width: 100%;
}

div.header {
    position: relative;
    text-align: center;
    color: white;

}

div.header-text {
    position: absolute;
    top: 11%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bolder;

}

img.header-img {
    display: block;
    margin: 0 auto;
}

section.main-first {
    text-align: center;
    margin: 80px 60px 30px 60px;
    font-size: 15px
}

main img {
    width: 200px;
    padding-bottom: 20px;
}

/*
main a.main-hip {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: oswald;
    font-weight: bolder;
}

div.article {
    width: 30%;
}

section.main-second {
    margin: 40px 60px;
    text-align: center;
}

section.main-second div {
    display: inline-block;
    margin: 0 10px;
    font-size: 9px    
}
*/

div.article {
    width: 200px;
}

a.main-hip {
    display: block;
    text-decoration: none;
    color: black;
    background-color;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

section.main-second {
    text-align: center;
    margin-top: 110px;
}

section.main-second div.article {
    display: inline-block;
    margin: 35px;
}

footer {
    margin-top: 100px;
    background-color: black;
    height: 5vh;
    color: white;
    text-align: center;
    font-size: 6px;
    line-height: 5vh;

}
